<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
<title>Curl Challenge</title>
<link rel="stylesheet" href='/static/style.css' />
</head>



<body><center><h1>Welcome to the cURL challenge!</h1></center>
<center><img src="/static/curl_logo.png"></center>
<center><h1>-- --=[Challenges]=-- --</h1></center>

<h2>There is no order to the challenges for this lab so have a go at any ones you want:</h2>

<p><a href="/challenge1">Challenge 1</a> - To get the encoding challenge for this one send a GET request with two parameters, one called <b>whoAreYou</b> with the value <b>AHacker</b> and the other called <b>areYouSure</b> with the value <b>yes</b></p><br>

<p><a href="/challenge2">Challenge 2</a> - To get this encoding challenge, make your request use HTTP/1.0</p><br>

<p><a href="/challenge3">Challenge 3</a> - HTTP 1.1 has a fair few request methods that are documented. In this case make a HTTP PATCH request for your encrypted challenge</p><br>

<p><a href="/challenge4">Challenge 4</a> - POST some JSON content for this one (in a similar fashion to challenge 1), in your POST requests JSON body, set "WeGonnaRockDownTo" to "ElectricBoogaloo". This challenges errors are a bit more helpful, you might want to look at a tool called jq also.</p><br>

<p><a href="/challenge5">Challenge 5</a> - An easier cURL challenge now that we're near the end. Send a GET request to port 8080 for this one</p><br>

<p><a href="/challenge6">Challenge 6</a> - Start by running `echo "superMegaFinalFlagFile" > file.txt` then upload that file while using the HTTP PUT method</p><br>

<h2>Notes</h2>

<p>The challenges are made up of two parts: Using cURL to send the correct response and decoding the challenge string to get the flag </p><br>

<p>Feel free to use wget for style points or work out how to use any other program if you're interested</p><br>

<p>For hints append hint1, hint2 or hint3 to the challenge url e.g. `curl http://localhost/challenge3/hint1`. (Not all challenges have the same number of hints)</p>

</body></html>
